div {
    text-align: center;
}

.border {
    display: inline-block;
    margin-right: 5px;
    border-bottom: 1px solid black;
    padding: 2rem 2rem;
    vertical-align: text-bottom;
}

h2 {
    font-size: 45px;
    margin: 0;
    padding: 5px;
    line-height: 30px;
    height: 25px;
    text-transform: uppercase;
}